PyQt6==6.7.0
requests==2.31.0
python-magic==0.4.27
feedparser==6.0.12
pydantic==2.6.0
attrs==23.2.0
colorama==0.4.6

# Dependencies required to run bundled KCC standalone script (kcc-c2e.py)
Pillow>=11.3.0
psutil>=5.9.5
python-slugify>=1.2.1,<9.0.0
packaging>=23.2
mozjpeg-lossless-optimization>=1.2.0
natsort>=8.4.0
distro>=1.8.0
numpy>=1.22.4
PyMuPDF>=1.18.0

